# Add any directories, files, or patterns you don't want to be tracked by version control
test.sql
project.config
application/config/config.php
application/config/database.php
application/cache
public/images/
public/reports/